<%= form_for(@user, url: user_path(@user), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <tr>
	<td>about:</td>
    <td><%= f.text_area :about %></td>
  </tr>

  <tr>
    <td>email:</td>
    <td><%= f.email_field :email %></td>
  </tr>
	
  <tr>
	<td><%= f.submit "Update" %></td>
  </tr>
  
<% end %>