<div id="posts-container">
  <% if current_page?(:action => 'index') && !user_signed_in? %>
    <div class="alert alert-success fade in" id="site-description">
      <!-- <button class="close" data-dismiss="alert">×</button> -->
      <p style="font-weight:bold; text-align:center">FilmHatch is a place for filmmakers to share projects and discuss news from around the film industry.</p>
    </div>
  <% end %>
  <h3><%= @title %></h3>
  <p><%= @description if @description %></p>

  <ul id="posts">
    <% @posts.each_with_index do |post, index| %>
      <li class="post">
	    <div style="float:left"><%= index + 1 %>.</div>
	    <%= render :partial => "post", locals: { post: post } %>
      </li>
    <% end %>
    <%= will_paginate @posts, :page_links => false, :previous_label => "", :next_label => 'Next'  %>
  </ul>
</div>