<h3><%= @title %></h3>
<p><%= @description if @description %></p>

<ul>
  <% @posts.each_with_index do |post, index| %>
    <li class="post">
	  <div style="float:left"><%= index + 1 %>.</div>
	  <%= render :partial => "post", locals: { post: post } %>
	</li>
  <% end %>
</ul>

<%= will_paginate @posts %>