<div class="row" style="margin-top:10px">
  <div class="col-md-12 col-xs-12">
	<%= render :partial => "posts/post", :locals => { post: @post } %>	
	<br />
	<div style="margin-left: 20px; margin-top: 20px">
	  <p style="color: #828282; font-size: 13px">
	    <%= @post.text %>
	  </p>
	</div>

	<%= form_for Comment.new, url: {controller: "comments", action: "create"}, html: {class: "comment-form"} do |f| %>
	  <%= f.hidden_field :post_id, :value => @post.id %>
	  <%= f.text_area :text %><br />
	  <%= f.submit "Add Comment" %>
	<% end %>

	<%= render :partial => "comments/comments" %>
  </div>
</div>	