<%= form_for @post, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <h4><%= f.label :title %></h4> 
  <%= f.text_field :title, :size => 70 %>
  <p>Please preface all 'show' or 'ask' posts with "Show PR: " or "Ask PR: "</p>

  <h4><%= f.label :url %></h4> 
  <%= f.text_field :url, :size => 70 %>

  <h3>or</h3>

  <h4><%= f.label :text %></h4> 
  <%= f.text_area :text, size: "60x12" %>

  <div>
    <%= f.submit "Create" %>
  </div>
<% end %>

<p>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</p>