<!DOCTYPE html>
<html>
<head>
  <title>FilmHatch - Share your work and news with a community of Filmmakers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render :partial => "layouts/is_mobile" %>
  <%= render :partial => "layouts/google_analytics" %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
   <%= render 'partials/nav' %>
   <div style="background-color: #f6f6ef;">
     <div style="padding-bottom:10px" class="container">
       <%= yield %>
     </div>
   </div>
</body>
</html>
